:host {
  display: flex;
  justify-content: center;
}
mat-card {
  margin: 20px;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}

mat-card-title {
  margin: 10px;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 400px;
}

mat-form-field {
  mat-error {
    display: none !important;
  }

  mat-error:first-child {
    display: block !important;
  }
}

mat-form-field:has(mat-error) {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list-item {
  margin-bottom: 5px;
  padding: 5px;
}

.todo-title {
  white-space: normal;
}

.title-container {
  display: flex;
  align-items: center;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
