mat-form-field {
  mat-error {
    display: none !important;
  }

  mat-error:first-child {
    display: block !important;
  }
}

mat-form-field {
  width: 100%;
}

mat-form-field:has(mat-error) {
  margin-bottom: 20px;
}

button {
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
